
:root{
  --color-main-dark: #ffafcc;
  --color-main-light: #ffe5ec;
  --color-sec-dark: #a2d2ff;
  --color-sec-light: #bde0fe;
  --color-odd: #cdb4db;
  --text-color:#000;
  --main-color:#9A1663;
  --bg-color:#FFEEEE;
  --big-font:5rem;
  --h2-font:2.25rem;
  --p-font:0.9rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  font-family:'Poppins', sans-serif ; 
}

*::selection{
  background-color:#ffc8dd;
  color: #000;
}

body{
  color: var(--text-color);
}

/* HEADER  */


nav {
  position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	padding: 0 5%;
	height: 4rem;
	/* background-color: var(--color-main-light); */
  background-color: #FFF;
}
.logo {
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 2rem;
  font-weight: 800;
	color: var(--main-color);
}
.logo a{
  color: var(--main-color);
}
nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	padding: .5rem;
	font-size: 1.4rem;
	font-weight: 500;
	color: var(--main-color);
	text-decoration: none;
}
#nav-toggle {
	position: absolute;
  top: -100px;
}

nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav >.icon-burger>.line {
	width: 20px;
	height: 2px;
	background-color: var(--main-color);
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}
#donate{
  background-color: var(--main-color);
  border-radius: 10px;
  border: none;
  color: var(--color-main-light);
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  padding: 5px 10px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  nav{
    height: 3rem;
  }
	nav .logo {
		/* float: none; */
		width: auto;
		justify-content: center;
    font-size: 1.2rem;
    font-weight: 600;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 3rem;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: var(--color-main-light);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 1.2rem;
    font-weight: 400;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}	
}

/* ABOUT */

.objective{
  margin-top: 5%;
}
 h2,h1{
  color: var(--main-color);
}
p{
  font-size: 1.6rem;
}

/* Our Team
-------------------------------------------------------*/
.team{
  margin: 5% 0;
}
.our-team .team-row {
  margin-left: -40px;
  margin-right: -40px;
}

.our-team .team-wrap {
  padding: 0 40px;
}

.our-team .container-fluid {
  padding: 0 50px;
}

.team-img img {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  overflow: hidden;
  width: 100%;
}

.team-member,
.team-img {
  position: relative;
  overflow: hidden;
}

.team-title {
  margin: 30px 0 7px;
}

.overlay {
  background-color: rgba(20,20,20,.7);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.team-details {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0;
  padding: 5%;
  overflow: hidden;
  width: 100%;
  z-index: 2;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.team-details p {
  color: #fff;
}

.team-img:hover .team-details {
  opacity: 1;
  margin-top: -80px;
}

.team-img:hover .overlay {
  opacity: 1;
}

.socials a {
  display: inline-block;
  width: 37px;
  height: 37px;
  background-color: transparent;
}

.socials i {
  line-height: 37px;
  color: #616161;
  font-size: 14px;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.team-details .socials i {
	color: #fff;
}

.socials a:hover i {
  color: #fff;
  background-color: #355c7d;
}


/* Fotter */

.footer{
background:#24262b;
padding:30px 0px;
font-family: 'Play', sans-serif;
text-align:center;
}

.footer .row{
width:100%;
margin:1% 0%;
padding:0.6% 0%;
color:gray;
font-size:1rem;
}

.footer .row a{
text-decoration:none;
color:gray;
transition:0.5s;
}

.footer .row a:hover{
color:#fff;
}

.footer .row ul{
width:100%;
}

.footer .row ul li{
display:inline-block;
margin:0px 30px;
}

.footer .row a i{
font-size:2em;
margin:0% 1%;
}

@media (max-width:720px){
.footer{
text-align:left;
padding:5%;
}
.footer .row ul li{
display:block;
margin:10px 0px;
text-align:left;
}
.footer .row a i{
margin:0% 3%;
}
}
